*~
*.o
*.so
*.pyc
ExtrudeMesh

*.dat
*.txt
*.xy
*.xyz

*.meta
*.geodat
*.vx
*.vy
*.ex
*.ey

*.tif
*.nc

*.poly
*.node
*.ele
*.edge
*.neigh
*.area

*.nodes
*.elements
*.boundary
*.header
*.shared
*.global

*.vtu
*.pvtu
*.ep
